# This workflow will publish npm package on release
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]

jobs:
  prebuild:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [18, 20]
        arch: [x64]
    runs-on: ${{ matrix.os }}
    env:
      CPATH: /tmp/beamcoder/.ffmpeg/ffmpeg/include/
      PKG_CONFIG_PATH: /tmp/beamcoder/.ffmpeg/ffmpeg/lib/pkgconfig/
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/

      - name: Setup build environment
        run: |
          mkdir /tmp/beamcoder
          cp -r . /tmp/beamcoder
          sudo apt-get update && sudo apt-get install -y libvpx-dev

      - name: Install dependencies
        working-directory: /tmp/beamcoder
        run: |
          sudo ./scripts/install_beamcoder_dependencies.sh
          yarn install --frozen-lockfile

      - name: Build and upload prebuilt binary
        working-directory: /tmp/beamcoder
        run: |
          npm run prebuild
          npx prebuild --upload ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npm:
    needs: prebuild
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: yarn install --frozen-lockfile
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
